bokeh==2.4.3
opencv-python==4.6.0.66
streamlit==1.11.1
streamlit-aggrid==0.3.2
streamlit-authenticator==0.2.1
streamlit-option-menu==0.3.2
streamlit-echarts==0.4.0
Pillow==9.0.1
openpyxl==3.0.10
pandas==1.4.3
numpy==1.23.1
requests==2.25.1
requests-html==0.10.0

